{% extends 'core/base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card p-4">
      <h2 class="mb-4 text-center" style="color:#ffd700;">Account Verified</h2>
      <div class="alert alert-success text-center" role="alert">
        The account is verified. You may now login.
      </div>
      <div class="text-center">
        <a href="/login" class="btn btn-primary">Login</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
